body {
    margin: 0 auto;
    max-width: 50%;
    font-family: 'Golos Text';
    font-size: larger;
}

.cabecera {
    display: flex;
    background-image: url(SMX2M8UF5A1-TheBatman-Material/header_background.jpeg);
    background-size:cover;
    height:100vh;
    width: 100%; 
    align-items: center;
    justify-content: center;
}
   
.parrafo1 {
    text-align: center;
    font-size: medium;
}

#fuente-rara {
    font-family: 'Old Standard TT';
    
}
.link {
    text-decoration: none;
    color: rgb(221, 63, 63);
}

.imagenes {
    width: 100%;
}

.video {
    width: 100%;
}

@media screen and (max-width: 800px) {
    body {
        font-size:small ;
    }
}
